<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apply</title>
    <style type = "text/css">
    body{text-align:center; font-size: 60px;} </style>
</head>
<body>

<strong>GetApply</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/apply">apply</a><br>
<form action="/apply" method="post">
  <input type="hidden" value="">
  <input type= "submit" value="submit">
</form>

</body>
</html>
